html{
    overflow: visible; /* костыль для portfolio content */
}
#html {
    scroll-behavior: smooth;
    overflow-y: hidden;
    overflow-x: hidden;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: "Source Sans Pro", sans-serif;
    color: #333333;
}

ul {
    list-style: none;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #8e989c;
    z-index: -1;
}

@media (min-width: 1024px) {
    html {
        overflow: hidden;
    }

    .fullScreen {
        height: 100vh;
        overflow: hidden;
        position: relative;
    }

    .fullScreen .main-content {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        transition: 0.56s ease-in-out;
    }

    .fullscreen section {
        height: 100vh;
        padding-top: 110px;
    }
}

b {
    color: #FFFFFF;
}

section {
    margin: 0 30px;
    z-index: 0;
    height: 100vh;
    width: calc(100vw - 60px);
    overflow: hidden;
    position: relative;
}

.container {
    max-width: 1170px;
    width: calc(100% - 30px);
    padding: 15px;
    margin: 0 auto;
}

.bottom-bar,
.top-bar,
.right-bar,
.left-bar {
    background-color: #FFFFFF;
    position: fixed;
    z-index: 12;
}

.bottom-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
}

.top-bar {
    position: relative;
    width: 100%;
    height: 30px;
}

.right-bar {
    top: 0;
    right: 0;
    width: 30px;
    height: 100%;
}

.left-bar {
    top: 0;
    left: 0;
    width: 30px;
    height: 100%;
}

.right-bar__content {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.right-bar__item {
    margin: 10px 0;
}

.right-bar__item-icon {
    color: #A1A1A1;
    transition: .2s linear;
}

.right-bar__item-link {
    padding: 5px;
}

.right-bar__item-link:hover .right-bar__item-icon {
    color: #000000;
}

.hero {
    position: relative;
}

.nav {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.nav-list {
    transform: translateX(50%);
    padding: 45px 0 10px;
    height: 100%;
}

.nav-list__item {
    transform: rotateZ(270deg);
    display: block;
    margin: 110px -62px;
    width: 120px;
}

._active .nav-list__link {
    background-color: #000000;
    color: #FFFFFF;
}

.nav-list__link {
    cursor: pointer;
    color: #333333;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 8px 8px;
    margin: 0 5px;
    position: relative;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0 2px;
    transition: all .3s;
}

._active .nav-list__link {
    cursor: default;
}

._active .nav-list__link:hover {
    background-size: 0;
}

.nav-list__link:hover {
    background-size: 100% 2px;
}

.about {
    margin-top: 100px;
    display: flex;
    transform-style: preserve-3d;
    transform: perspective(1000px);
}

.about-person {
    width: 330px;
    min-height: 495px;
    padding: 30px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px -3px #2e3d42;
    transform: translateZ(20px)
}

.about-inform {
    width: calc(100% - 420px);
    padding-left: 30px;
}

.about-inform__title {
    background: #333;
    text-align: center;
    width: 134px;
    padding: 25px 0;
    margin: 30px 0;
    color: #FFFFFF;
    font-size: 30px;
    transform: translateZ(-20px)
}

.about-inform__animated {
    margin: 20px 0 50px;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 400;
}

.about-inform__text {
    color: #FFFFFF;
    font-size: 18px;
}

.about-person__img {
    width: 330px;
}

.about-person__title {
    font-size: 30px;
    font-weight: 400;
    margin: 30px 0;
    text-align: center;
}

.about-person__text {
    background: #d8e0e4;
    padding: 26px 36px;
    margin: 0 auto;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}

.about-inform__link {
    margin-top: 50px;
    display: inline-block;
    padding: 18px 64px;
    text-align: center;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    transition: .1s linear;
    transform: translateZ(20px)
}

.about-inform__link:active {
    transform: translateZ(0px);
    background-color: #FFFFFF;
    color: #333333;
}

.skills {
    background-color: #ecf1f4;
}

.box-cogs,
.box-info,
.box-case,
.box-mail{
    font-size: 32px;
    transform: rotateZ(-45deg);
    margin: 14px;
    color: #ffffff;
}

.box-cogs,
.box-info{
    color: #bbbdbe;
    margin-left: 24px;
}

.box-cogs{
    margin-left: 10px;
}

.box {
    margin: 0 auto;
    width: 60px;
    height: 60px;
    border: 1px solid #bbbdbe;
    position: relative;
    transform: rotateZ(45deg);
    transition: .6s linear;

}

.box:hover {
    /* придумать что-то*/
}

.box::after,
.box::before,
.box-inner::after,
.box-inner::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 1px;
    background-color: #bbbdbe;
}

.box::after {
    left: calc(50% - 8px);
    top: -20px;
    transform: rotateZ(90deg);
}

.box::before {
    left: -30px;
    top: 50%;
    transform: rotateZ(0deg);
}

.box-inner::after {
    left: calc(50% - 8px);
    bottom: -20px;
    transform: rotateZ(90deg);
}

.box-inner::before {
    right: -30px;
    top: 50%;
    transform: rotateZ(0deg);
}

.box_white {
    border: 1px solid #FFFFFF;
    box-shadow: 0 0 10px -3px #2e3d42;
}

.box_white::after,
.box_white::before,
.box-inner_white::after,
.box-inner_white::before {
    background-color: #FFFFFF;
}

.skills-container {
    padding-top: 150px;
}

.metrics {
    max-height: 360px;
    height: 50vh;
    padding: 10px 0;
    position: relative;
}

.skills-title {
    text-align: center;
    margin: 30px 0 10px;
    font-size: 30px;
}

.skills-text {
    text-align: center;
    margin-bottom: 25px;
    font-size: 18px;
    color: #666666;
}

.metrics::after,
.metrics::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #bbbdbe;
}

.metrics::after {
    top: 0;
}

.metrics::before {
    bottom: 0;
}

.metrics {
    display: flex;
    justify-content: space-evenly;
}

.metrics-box {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.metrics-number {
    font-weight: 600;
    position: absolute;
    bottom: 100%;
    transition: 1s ease-in-out;
    transform: translate(-100%, 50%);
}

.metrics-line {
    width: 1px;
    background-color: #000000;
    transition: 1s ease-in-out;
    position: absolute;
    bottom: 0;
}

.metrics-anim_1 {
    transition: .5s ease-in-out;
}

.metrics-anim_2 {
    transition: .5s ease-in-out .5s;
}

.metrics-anim_3 {
    transition: .5s ease-in-out 1s;
}

.metrics-anim_4 {
    transition: .5s ease-in-out 1.5s;
}

.metrics-anim_5 {
    transition: .5s ease-in-out 2s;
}

.b_50,
.b_60,
.b_70,
.b_80,
.b_90 {
    bottom: 0;
}

._active .b_50 {
    bottom: 50%;
}

._active .b_60 {
    bottom: 60%;
}

._active .b_70 {
    bottom: 70%;
}

._active .b_80 {
    bottom: 80%;
}

._active .b_90 {
    bottom: 90%;
}

.h_100 {
    height: 0;
}

.h_50,
.h_60,
.h_70,
.h_80,
.h_90 {
    height: 0;
}

._active .h_50 {
    height: 50%;
}

._active .h_60 {
    height: 60%;
}

._active .h_70 {
    height: 70%;
}

._active .h_80 {
    height: 80%;
}

._active .h_90 {
    height: 90%;
}

.metrics-names {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    list-style: none;
}

.metrics-names__item {
    transform: rotateZ(90deg) translateY(40px) translateX(32%);
    width: 20%;
    font-weight: 900;
    font-size: 16px;
}

.portfolio {
    background-color: transparent;
}

.portfolio-container {
    padding-top: 150px;
}

.portfolio-title {
    color: #FFFFFF;
    text-align: center;
    margin: 30px 0 10px;
    font-size: 30px;
}

.portfolio-text {
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    margin-bottom: 25px;
}

.portfolio-content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.portfolio-content__item {
    width: 262.5px;
    height: 165px;
    margin: 30px 15px 0;
    transition: .3s ease-in-out;
    position: relative;
    z-index: 9;
    overflow: hidden;
}

.portfolio-content__item-inner {
    padding: 30px;
    background-color: #FFFFFF;
    width: 202px;
    height: 105px;
    transition: .3s ease-in-out;
    z-index: 10;
}

.portfolio-content__item-inform {
    position: absolute;
    left: 0;
    bottom: 0;
    width: calc(100% - 60px);
    margin: 0 auto;
    height: 0;
    transition: .3s ease-in-out .3s;
    z-index: 12;
    opacity: 0;
}

.portfolio-content__item:hover {
    transform: scale(1.2);
}

.portfolio-content__item:hover .portfolio-content__item-inform {
    height: 100%;
    background-color: rgba(255, 255, 255, .9);
    opacity: 1;
    padding: 0 30px;
}

.portfolio-content__item-img {
    width: 100%;
    height: 100%;
    transition: .3s ease-in-out;
}

.portfolio-content__item-title {
    padding: 40px 10px 10px;
    font-size: 18px;
    text-transform: uppercase;
}

.portfolio-content__item-text {
    font-size: 12px;
    padding: 0 10px;
}

.portfolio-content__item-link {
    text-transform: uppercase;
    font-size: 12px;
    color: #FFFFFF;
    background-color: #3f4e55;
    border: 1px solid #3f4e55;
    position: absolute;
    right: 40px;
    bottom: 40px;
    padding: 0 10px;
}

.portfolio-content__item-link:hover {
    color: #3f4e55;
    background-color: #FFFFFF;
}

.portfolio-sort {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.portfolio-sort__button {
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    padding: 10px 20px;
    margin: 10px 20px;
    transition: .2s linear;
    cursor: pointer;
}

.portfolio-sort__button._active {
    cursor: initial;
}

.portfolio-sort__button._active,
.portfolio-sort__button:hover {
    background-color: #FFFFFF;
    color: #333333;
}

.facts {
    background-color: #ecf1f4;
}

.facts-container {
    padding-top: 150px;
}

.facts-title {
    text-align: center;
    margin: 30px 0 10px;
    font-size: 30px;
}

.facts-text {
    text-align: center;
    font-size: 18px;
    margin-bottom: 25px;
}

.facts-content {
    position: relative;
    min-height: 400px;
}

.facts-content::before{
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #bbbdbe;
    left: 50%;
    transform: translateX(-50%);
}

.facts-list__item{
    display: flex;
    justify-content: center;
    position: relative;
}

.facts-list__item-dot{
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: #bbbdbe;
    border-radius: 50%;
    top: 50%;
}

.facts-list__item-question,
.facts-list__item-answer{
    width: 50%;
    padding: 30px 20px 40px 0;
    position: relative;
}

.facts-list__item-question{
    text-align: right;
}

.facts-list__item-answer{
    padding: 30px 0 40px 20px;
}

.facts-list__item-answer__text{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.facts-anim_1 {
    transition: .6s ease-out;
}

.facts-anim_2 {
    transition: .6s ease-out .1s;
}

.facts-anim_3 {
    transition: .6s ease-out .2s;
}

.facts-anim_4 {
    transition: .6s ease-out .3s;
}

.facts-anim_5 {
    transition: .6s ease-out .4s;
}

.facts-list__item-question {
    transform: translateX(-100%);
    opacity: 0;
}

._active .facts-list__item-question {
    transform: translateX(0);
    opacity: 1;
}

.facts-list__item-answer {
    transform: translateX(100%);
    opacity: 0;
}

._active .facts-list__item-answer {
    transform: translateX(0);
    opacity: 1;
}

.contact {
    background-color: transparent;
}

.contact-container {
    padding-top: 150px;
}

.contact-title {
    color: #FFFFFF;
    text-align: center;
    margin: 30px 0 10px;
    font-size: 30px;
}

.contact-text {
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    margin-bottom: 25px;
}

.contact-content {
    justify-content: center;
    display: flex;
    box-shadow: 0 0 10px -3px #2e3d42;
}

.contact-content__item {
    width: 555px;
    padding: 0 15px;
    background-color: #FFFFFF;
    min-height: 339px;
    text-align: right;
}

.contact-content__item-part {
    padding: 30px 30px 30px 0;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 100%;
}

.contact-form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #bbbdbe;
    outline: 0;
    font-size: 1.3rem;
    color: #000000;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.contact-form__field::placeholder {
    color: transparent;
}

.contact-form__field:placeholder-shown ~ .contact-form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

.contact-form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
}

.contact-form__field:active,
.contact-form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 1px;
    border-image-source: linear-gradient(to right, #000000, #000000);
    border-image-slice: 1;
}

.contact-form__field:focus ~ .contact-form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #000000;
    font-weight: 700;
}

.contact-form__field:required, .contact-form__field:invalid {
    box-shadow: none;
}

.contact-form__button {
    padding: 10px 0;
    background-color: transparent;
    border: 1px solid #000000;
    margin: 20px;
    transition: .3s linear;
}

.contact-form__button:hover {
    background-color: #000000;
    color: #FFFFFF;
}