@media (max-width: 1170px) {
    .projects-slider__item {
        flex: 0 0 100%;
        max-width: 100%;
        margin: 0;
    }

    .catalog-content {
        justify-content: center;
        flex-wrap: wrap;
    }

    .catalog-content__item-first,
    .catalog-content__item-second,
    .catalog-content__item-third {
        margin: 20px;
    }

    .news-content {
        flex-direction: column;
    }

    .news-item_big {
        margin: 0 auto;
    }

    .news-item_small {
        width: 50%;
        padding-top: 20px;
    }

    .news-item_small__wrapper {
        margin: 0 auto;
    }

    .news-item_small__img-container {
        display: block;
        bottom: -120px;
        height: 100%;
        width: 100%;
    }

    .news-item_small__img{
        position: absolute;
        bottom: 0;
    }

    .news-item_small__date {
        right: 0;
    }

    .rent-content {
        flex-direction: column;
    }

    .rent-inform {
        margin: 0 auto;
        width: 640px;
        min-height: 200px;
    }

    .rent-slider__wrapper {
        margin: 0 auto;
    }
}

@media (max-width: 820px) {
    .nav {
        flex-direction: column;
    }

    .nav-nav {
        z-index: 2;
        margin: 0;
    }

    .nav-list__item {
        display: block;
    }

    .hero-content {
        left: auto;
        top: auto;
        right: 0;
        text-align: center;
        transform: translate(0);
        max-width: calc(100% - 180px);
        background: rgba(0, 0, 0, .5);
        height: 720px;
    }

    .hero-title {
        padding: 90px 15px 0;
        font-size: 42px;
        line-height: normal;
    }

    .hero-text {
        padding: 40px 0 60px;
        margin: 0 auto;
    }

    .hero-bg {
        left: 0;
        transform: translateX(0);
        width: 180px;
    }

    .string-title {
        padding-left: 110px;
    }

}

@media (max-width: 764px) {
    .footer-inform{
        display: block;
        text-align: center;
    }

    .footer-inform__email{
        padding: 10px 0 20px;
    }

    .footer-inform__number{
        padding: 20px 0 10px;
    }

    .footer-inform__address{
        padding: 10px 0;
    }
}

@media (max-width: 640px) {
    .rent-inform{
        width: 100%;
        min-height: 150px;
        padding: 25px 0;
    }

    .rent-content {
        padding: 0;
    }

    .rent-slider__item{
        height: auto;
        display: block;
    }

    .rent-slider__item-title{
        padding-top: 30px;
    }

    .rent-button__left {
        top: 0;
        z-index: 3;
    }

    .rent-button__right {
        top: 0;
        z-index: 3;
    }

    .news-item_big{
        display: block;
    }

    .news-item_big__text{
        width: 100%;
    }

    .news-item_big__inform-title{
        padding-right: 50px;
    }

    .news-item_small{
        margin: 0;
        width: 100%;
    }

    .news-item_small__wrapper{
        flex-direction: column;
    }

    .news-item_small__date{
        right: 80px;
    }

    .flex{
        justify-content: left;
    }

    .news-item_small_bottom{
        padding-top: 140px;
    }
}

@media (max-width: 552px) {
.catalog-content__item-content{
    width: 100%;
}

.projects-button__left{
    width: 35px;
    height: 35px;
    right: 38px;
}

.projects-button__right{
    width: 35px;
    height: 35px;
    right: 0;
}

.projects-slider{
    margin-top: 40px;
}

.string-title{
    padding-left: 0;
    font-size: 23px;
}

.string-title::before{
    bottom: 0;
    height: 2px;
    left: auto;
    top: auto;
}

.string-title::after{
    display: none;
}


.nav-search__mobile {
    display: block;
}

.hero-content {
    max-width: 100%;
    transition: opacity .3s linear;
    opacity: 1;
    background: rgba(0, 0, 0, .2)
}

.hero-bg,
.nav-list {
    transform: translateX(-100%);
    transition: .3s linear;
}

.hero-bg.active,
.nav-list.active {
    transform: translateX(0);
}

.hero-content.active {
    opacity: 0;
}

.rent-title{
    font-size: 21px;
}

.coder{
    display: none;
}

}

@media (max-width: 420px) {
.hero-title {
    font-size: 32px;
}

.hero-text{
    padding: 20px 0 40px;
}
}
