@font-face {

}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: "PT Sans", sans-serif;
}

body {
    background-color: #E5E5E5;
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

header {
    background-image: url("../img/hero.jfif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
    position: relative;
}

.nav {
    height: 80px;
    background: rgba(0, 91, 193, 0.6);
    display: flex;
    justify-content: space-between;
}

.nav-logo {
    padding: 11px 0 11px 40px;
}

.nav-nav {
    margin: 0 auto;
}

.nav-list__item {
    display: inline-block;
    padding: 30px 14px;
}

.nav-list__link {
    color: #FFFFFF;
    padding: 30px 14px;
    transition: .2s linear;
}

/*rep*/
.nav-list__link:hover {
    color: #C4C4C4;
}

.nav-list__link:active {
    color: #000000;
}

.nav-search__mobile{
    z-index: 10;
    display: none;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -40px;
    right: 0;
    padding: 20px;
    transform: translateY(50%);
}

.nav-search__mobile-button{
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #FFFFFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .1s linear;
}

.nav-search__mobile-button::after,
.nav-search__mobile-button::before{
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #FFFFFF;
    transition: .2s linear;
    transform-origin: center;
}

.nav-search__mobile-button::after{
    transform: translateY(5px);
}

.nav-search__mobile-button::before{
    transform: translateY(-5px);
}

.active .nav-search__mobile-button{
    height: 0;
}

.active .nav-search__mobile-button::after{
    transform: rotateZ(-45deg);
}

.active .nav-search__mobile-button::before{
    transform: rotateZ(45deg);
}

.hero-bg {
    height: 720px;
    width: 444px;
    background-color: rgba(0, 91, 193, 0.6);
    left: 50%;
    transform: translateX(-100%);
    position: absolute;
}

.hero-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.hero-title {
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    max-width: 650px;
}

.hero-text {
    font-size: 16px;
    color: #FFFFFF;
    padding: 40px 0;
    max-width: 450px;
}

.hero-link {
    background-color: transparent;
    padding: 15px 40px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    transition: .2s linear;
}

/*rep*/
.hero-link:hover {
    color: #C4C4C4;
    border: 1px solid #C4C4C4;
}

.hero-link:active {
    color: #000000;
    border: 1px solid #000000;
}


.projects-container {
    padding-top: 150px;
}

.string-title {
    padding-left: 140px;
    position: relative;
    font-family: Oswald, sans-serif;
    font-size: 30px;
    line-height: 44px;
    text-transform: uppercase;
    color: #343434;
}

.string-title::before {
    content: "";
    position: absolute;
    left: 0;
    top: 15px;
    width: 100px;
    height: 3px;
    background-color: #005BC1;
}

.string-title::after {
    content: "";
    position: absolute;
    left: 50px;
    top: 28px;
    width: 50px;
    height: 3px;
    background-color: #005BC1;
}

.projects-inform {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.projects-slider__item-first,
.projects-slider__item-second,
.projects-slider__item-third,
.projects-slider__item-fourth {
    max-width: 540px;
    margin: 0 15px;
    height: 400px;
    position: relative;
}

.projects-slider__item-third,
.projects-slider__item-first {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/slider_1.jfif"), #C4C4C4;
    background-position: center;
    background-size: cover;

}

.projects-slider__item-second,
.projects-slider__item-fourth {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/slider_2.jfif"), #C4C4C4;
    background-position: center;
    background-size: cover;
}

.projects-slider {
    margin-top: 70px;
}

.projects-button__left {
    left: auto;
    top: -20px;
    right: 71px;
    background-color: transparent;
    border: 2px solid #005BC1;
    width: 55px;
    height: 55px;
}

.projects-button__right {
    right: 15px;
    top: -20px;
    background-color: transparent;
    border: 2px solid #005BC1;
    width: 55px;
    height: 55px;
}

.projects-slider__item-content {
    position: absolute;
    bottom: 35px;
    right: 35px;
    width: 250px;
    min-height: 110px;
    background-color: #FFFFFF;
}

.projects-slider__item-title {
    font-size: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
    padding: 20px 0 0 25px;
}

.projects-slider__item-text {
    font-weight: 300;
    font-size: 14px;
    color: #343434;
    padding: 14px 25px 20px;
}

.catalog-container {
    padding-top: 150px;
}

.catalog-content {
    padding-top: 55px;
    display: flex;
    justify-content: space-between;
}

.catalog-content__item-third,
.catalog-content__item-second,
.catalog-content__item-first {
    width: 350px;
    height: 300px;
    border: 3px solid #005BC1;
    position: relative;
}

.catalog-content__item-first {
    background-image: url("../img/catalog_1.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.catalog-content__item-second {
    background-image: url("../img/catalog_2.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.catalog-content__item-third {
    background-image: url("../img/catalog_3.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.catalog-content__item-content {
    width: 265px;
    min-height: 86px;
    position: absolute;
    right: 0;
    bottom: 15px;
    background-color: #005BC1;
}

.catalog-content__item-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family: Oswald, sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    padding: 0 21px;
    color: #FFFFFF;
}

.catalog-radios {
    padding-top: 70px;
    display: flex;
    justify-content: center;
}

.catalog-radios__item {
    font-family: Oswald, sans-serif;
    font-size: 24px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
    margin: 0 8px;
    padding: 5px;
    border: none;
    background-color: transparent;
    position: relative;
    cursor: pointer;
}

.catalog-radios__item.active {
    color: #005BC1;
}

.catalog-radios__item.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #005BC1;
}

.rent-container {
    padding-top: 150px;
}

.rent-content {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.rent-inform {
    width: 350px;
    position: relative;
    min-height: 400px;
}

.rent-inform__text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 300;
    font-size: 18px;
    color: #343434;
}

.rent-slider__wrapper {
    max-width: 665px;
    width: 100%;
    min-height: 400px;
    border: 3px solid #005BC1;
}

.rent-slider__container {
    padding: 30px;
    position: relative;
}

.rent-button__left {
    left: auto;
    top: -55px;
    right: 56px;
    background-color: transparent;
    border: 2px solid #005BC1;
    width: 55px;
    height: 55px;
    z-index: 3;
}

.rent-button__right {
    right: 0;
    top: -55px;
    background-color: transparent;
    border: 2px solid #005BC1;
    width: 55px;
    height: 55px;
    z-index: 3;
}

.rent-entity__title {
    font-size: 18px;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    color: #343434;
    padding: 12px 0 45px;
}

.rent-slider__item {
    width: 100%;
    height: 250px;
    display: flex;
}

.rent-slider__item-img {
    width: 250px;
    height: 250px;
    padding-right: 30px;
}

.rent-slider__item-title {
    font-family: Oswald, sans-serif;
    color: #343434;
    font-size: 16px;
}

.rent-slider__item-list {
    padding: 20px;
}

.rent-slider__item-list-item {
    padding-bottom: 15px;
    font-weight: 300;
    color: #343434;
}

.news {
    padding-top: 150px;
}

.news-inform {
    display: flex;
    justify-content: space-between;
}

.news-link {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 15px 35px;
    border: none;
    background-color: #005BC1;
}

.news-content {
    padding-top: 70px;
    min-height: 242px;
    display: flex;
    justify-content: space-between;
}

.news-item_big {
    width: 540px;
    min-height: 242px;
    margin: 0 15px;
    display: flex;
}

.news-item_big__img {
    width: 255px;
    height: 242px;
    margin: auto 30px auto 0;
}


.flex {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.news-item_big__inform-title {
    font-family: Oswald, sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: #343434;
}

.news-item_big__inform-date {
    font-weight: 600;
    font-size: 14px;
    text-align: right;
    line-height: 27px;
    color: #979797;
}

.news-item_big__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #343434;
    padding: 42px 0 21px;
}

.news-item_big__link {
    font-size: 14px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #343434;
}

.news-item_small__wrapper {
    width: 540px;
    display: flex;
    justify-content: space-between;
}

.news-item_small {
    width: 225px;
    margin: 0 15px;
    position: relative;
}

.news-item_small__title {
    font-family: Oswald, sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: #343434;
}

.news-item_small__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #343434;
    padding: 20px 0;
}

.news-item_small__img-container {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
}

.news-item_small__img {
    width: 128px;
    height: 115px;
}

.news-item_small__date {
    font-weight: 600;
    font-size: 14px;
    text-align: right;
    color: #979797;
    position: absolute;
    right: -80px;
    bottom: 0;
}


footer {
    margin-top: 150px;
    min-height: 255px;
    background-color: #005BC1;
}

.footer-inform {
    display: flex;
    justify-content: space-between;
}

.footer-inform__number {
    font-family: Oswald, sans-serif;
    font-weight: normal;
    font-size: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 36px 0 25px;
}

.footer-inform__address {
    font-weight: 600;
    color: #FFFFFF;
    padding: 40px 0 29px;
}

.footer-inform__email {
    font-weight: 600;
    color: #FFFFFF;
    padding: 40px 0 29px;
}

.footer-nav {
    padding: 10px 0;
    position: relative;
}

.footer-nav::after,
.footer-nav::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #ffffff;
}

.footer-nav::before {
    top: 0;
}

.footer-nav::after {
    bottom: 0;
}

.footer-nav__list {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    list-style: none;
    text-align: left;
}

.footer-nav__list-item {
    width: 200px;
    padding: 10px 0;
}

.footer-nav__list-link {
    color: #ffffff;
    padding: 10px 0;
    font-weight: 300;
    font-size: 14px;
    transition: .2s linear;
}

.footer-nav__list-link:hover {
    color: #C4C4C4;
}

.footer-nav__list-link:active {
    color: #000000;
}

.footer-copyright {
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
}

.footer-copyright__text {
    font-weight: 300;
    color: #FFFFFF;
}
